/* Global */
:root {
  /* App Colors */
  --color-primary: #f1f0ec;
  --color-accent: #00704a;
  --color-accent-varient: #c91347;
  --color-footer: #333333;
  --color-footer-varient: #eeeeee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Jua", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-family: sans-serif;
}

button:focus {
  outline: 1px solid transparent;
}

.section {
  padding: 4rem;
  text-align: center;
}

.title {
  padding: 1.5rem 0 3rem 0;
  position: relative;
  font-size: 2.5rem;
  text-align: center;
}

.title::before,
.title::after {
  content: "";
  display: block;
  position: absolute;
  top: 3rem;
  width: 200px;
  height: 2px;
  background-color: var(--color-accent);
}
.title::before {
  left: 0;
}
.title::after {
  right: 0;
}

.krispy__btn {
  display: inline-block;
  margin: 2rem;
  padding: 0.6rem 2rem;
  background-color: var(--color-accent-varient);
  color: #fff;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.krispy__btn:hover {
  background-color: transparent;
  color: var(--color-accent-varient);
  outline: 1.5px solid var(--color-accent-varient);
}

/* Header */
#header {
  width: 100%;
}

#toggle,
label[for="toggle"] {
  display: none;
}

label[for="toggle"] {
  font-size: 30px;
  padding: 10px;
  color: #00704a;
  position: absolute;
  left: 10px;
  top: 4px;
}

#toggle:checked + .header__bottom {
  height: 320px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
}

.header__top h1 {
  width: 130px;
}

.header__top img {
  width: 100%;
}

.header__toggle {
  display: none;
}

.header__address > ul {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.header__address > ul > li > a {
  font-family: sans-serif;
  font-size: 0.9rem;
}

.header__bottom {
  width: 100%;
  height: 50px;
  background-color: var(--color-accent);
  overflow: hidden;
  z-index: 100000000;
  position: absolute;
}

.header__bottom:hover {
  height: 320px;
  transition: 0.5s;
}

.header__gnb {
  width: 100%;
  height: 50px;
  padding-left: 1rem;
  background-color: #fff;
}

.header__gnb > ul {
  display: flex;
  justify-content: flex-start;
}

.header__gnb > ul > li {
  line-height: 48px;
}

.header__gnb > ul > li > a {
  font-size: 1.2rem;
  padding: 0 3.5rem;
}

.header__gnb__icon {
  display: flex;
  gap: 0px;
}

.fa-magnifying-glass {
  color: var(--color-accent);
  font-size: 1rem;
}

.fa-cart-shopping {
  color: var(--color-accent);
  font-size: 1rem;
}

.header__gnb__searchbar {
  height: 40px;
  border-bottom: 1px solid var(--color-accent);
  background-color: #fff;
  margin-right: 1rem;
}

input {
  padding: 0.3rem 0;
  border: none;
  background-color: transparent;
}

.search,
.basket {
  display: none;
}

.header__sub {
  text-align: center;
}

.header__sub a {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #fff;
}

.header__sub a:hover {
  text-decoration: underline;
}

/* Main */
main {
  clear: both;
  overflow: hidden;
  width: 100%;
}

/* Home Slide */
.first-swiper {
  margin-top: 3rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

/* Donut */
#donut {
  background-color: var(--color-primary);
}

#donut .swiper-button-next,
#donut .swiper-button-prev {
  color: var(--color-accent-varient);
}

#donut .swiper-pagination {
  display: none;
}

.donut__img__objectfit {
  object-position: 24px 15px;
}

.donut__name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
  font-size: 1rem;
  background-color: var(--color-accent);
  border-radius: 0px 10px 0px 0px;
  padding: 12px 20px 12px 10px;
}

#donut .swiper-slide {
  background-color: transparent;
  border: 2px solid #dfdfdf;
}

/* Menu */
.menu__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 10px;
}

.menu__realitem {
  background-color: #f1f0ec;
  font-size: 1.2rem;
  text-indent: 10px;
  padding: 20px 0;
  text-align: center;
}

.menu__grid > div:first-child {
  grid-area: 1/1/3/1;
}
.menu__grid > div:nth-child(6) {
  grid-area: 2/2/4/4;
}
.menu__grid > div:nth-child(8) {
  grid-area: 3/4/5/5;
}

.menu__itemimg {
  width: 100%;
}

.menu__title {
  text-align: left;
}

.menu__btn {
  float: right;
  width: 90px;
  font-size: 1rem;
  border-bottom: 1px solid var(--color-accent);
  color: var(--color-accent);
  padding-bottom: 5px;
  cursor: pointer;
}

.menu__btn:hover {
  border-bottom: 1px solid var(--color-accent-varient);
  color: var(--color-accent-varient);
}

/* NEW */
.new__menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

.new__menu:nth-child(even) .new__img {
  order: 1;
}

.new__img {
  width: 15rem;
  border: 3px solid var(--color-accent);
  border-radius: 50%;
  object-fit: cover;
}

.new__content {
  width: 65%;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: var(--color-primary);
}

.new__content__title {
  padding-bottom: 0.1rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}

.new__content__engtitle {
  font-weight: bold;
  font-size: 18px;
  color: var(--color-accent-varient);
  text-align: left;
}

.new__content__info {
  padding-top: 1.5rem;
  font-size: 1rem;
  line-height: 22px;
  text-align: left;
}

/* Search */
.search__bg {
  width: 100%;
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.search__content__wrap:first-child {
  display: flex;
  justify-content: start;
}

.search__content__wrap:last-child {
  display: flex;
  justify-content: end;
}

.search__item {
  display: flex;
  width: 370px;
  height: 370px;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  align-items: center;
}

.search__item.green {
  margin-left: 7rem;
  background-color: var(--color-accent);
}

.search__item.red {
  margin-right: 7rem;
  background-color: var(--color-accent-varient);
}

.search__item__icon {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.search__item__description {
  color: #fff;
}

.search__title {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  text-align: left;
}

.search__text {
  display: block;
  text-align: left;
  line-height: 22px;
  font-size: 1rem;
}

.search__item__btn {
  position: relative;
  display: block;
  padding-top: 1.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.search__item__btn:hover::after {
  content: "";
  position: absolute;
  top: 2.8rem;
  left: 0;
  width: 7rem;
  height: 1px;
  background-color: #fff;
}

/* Event */
.event__content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.event__item {
  width: 33.3%;
}

.event__item__img {
  width: 100%;
}

.event__description {
  text-align: left;
}

.event__title {
  font-size: 1.2rem;
  color: var(--color-accent-varient);
  line-height: 40px;
}

.event__text {
  font-size: 1rem;
}

/* Address */
#address {
  padding: 1rem 4rem;
  background-color: var(--color-footer-varient);
}

.tos {
  display: flex;
  justify-content: space-around;
}

.tos__content {
  font-weight: 100;
  cursor: pointer;
}

.tos__content:hover {
  font-weight: bold;
}

/* Arrow up */
.arrow-up {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  z-index: 1000;
  background-color: #c91347;
  padding: 0.2rem 1rem;
  color: #fff;
  font-size: 3rem;
  border-radius: 8px;
}

/* Footer */
#footer {
  background-color: var(--color-footer);
  overflow: hidden;
}

.footer__left {
  float: left;
}

.footer__address {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: left;
}

.footer__address__text {
  color: #b5b5b5;
  white-space: nowrap;
}

.footer__right {
  float: right;
}

.footer__sns {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.footer__sns__icon {
  font-size: 1.8rem;
  color: #fff;
}

.family {
  display: none;
}

#family {
  width: 170px;
  height: 34px;
  border: none;
  border-radius: 2px;
}

.footer__copy {
  margin: 1rem 0;
  text-align: left;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__gnb > ul > li > a {
    padding: 0 1.7rem;
  }

  .header__sub a {
    letter-spacing: 0;
  }

  .donut__img__objectfit {
    object-position: 15px 11px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 3rem 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .title::before,
  .title::after {
    width: 140px;
  }

  #header {
    width: 100%;
    position: fixed;
    z-index: 9999999;
    background-color: var(--color-primary);
  }

  label[for="toggle"] {
    display: none;
  }

  #toggle,
  .bar {
    display: none;
  }

  .header__top {
    background-color: var(--color-primary);
  }

  .header__toggle {
    display: block;
    font-size: 1.5rem;
  }

  .header__bottom {
    display: none;
    height: auto;
  }

  .header__bottom:hover {
    height: auto;
  }

  .header__bottom.open {
    display: flex;
  }

  .header__gnb {
    padding: 0;
    height: auto;
    background-color: var(--color-primary);
  }

  .header__gnb > ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__gnb > ul > li {
    width: 45%;
    text-align: center;
    line-height: 2.3rem;
    margin: 1rem 0;
  }

  .header__gnb__icon {
    width: 100%;
    justify-content: center;
  }

  .header__gnb > ul > li > a {
    padding: 0;
    color: var(--color-accent);
    display: block;
  }

  .header__gnb__searchbar {
    background-color: transparent;
  }

  .header__sub > li > a {
    letter-spacing: 0;
    color: #000;
    display: block;
  }

  .header__address > ul {
    gap: 7px;
  }

  .donut__name {
    display: none;
  }

  .donut__img__objectfit {
    object-position: 11px 9px;
  }

  .menu__btn {
    width: 65px;
  }

  .menu__realitem {
    padding: 10px;
    text-indent: 0;
  }

  .menu__grid {
    grid-template-rows: 25% 25% 25% 30%;
  }

  .search__content__wrap:first-child,
  .search__content__wrap:last-child {
    justify-content: center;
  }

  .search__item.green,
  .search__item.red {
    margin: 0 0 2rem 0;
  }

  .event__content {
    flex-wrap: wrap;
  }

  .event__item {
    width: 70%;
  }

  #address {
    padding: 1rem 2rem;
  }

  .tos {
    flex-wrap: wrap;
  }

  .tos > li {
    width: 33%;
    padding-bottom: 0.3rem;
  }

  .tos__content {
    text-align: center;
    white-space: nowrap;
  }

  .footer__copy {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding: 3rem 1.5rem;
  }

  .title::before,
  .title::after {
    width: 100px;
    top: 2.5rem;
  }

  .krispy__btn {
    font-size: 0.8rem;
  }

  .header__address > ul {
    gap: 7px;
  }

  .donut__name {
    display: none;
  }

  .donut__img__objectfit {
    object-position: 7px 7px;
  }

  .menu__grid {
    grid-template-rows: 25% 25% 25% 30%;
  }

  .menu__realitem {
    padding: 10px;
    font-size: 17px;
    text-indent: 0;
  }

  .menu__btn {
    width: 52px;
    font-size: 0.8rem;
  }

  .new__menu {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .new__menu:nth-child(even) .new__img {
    order: 0;
  }

  .search__item.green,
  .search__item.red {
    margin-left: 0;
    margin-right: 0;
  }

  .search__content__wrap:first-child,
  .search__content__wrap:last-child {
    justify-content: center;
  }

  .search__item {
    width: 320px;
    height: 320px;
  }

  .search__item__icon {
    width: 150px;
    height: 150px;
  }

  .search__item__btn {
    font-size: 0.8rem;
  }

  .event__item {
    width: 75%;
  }

  .tos > li {
    width: 50%;
  }

  #address {
    padding: 1rem 1.5rem;
  }

  .arrow-up {
    right: 2rem;
    bottom: 2rem;
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }
}
